h1, h2,  h3, h4, h5, h6 {
    text-align: center; 
    font-style: italic;
    /* Расположение текста по центру, слева, справа */
}
.upper-roman {
    list-style-type: upper-roman;
} 
.definition {
    font-style: italic; 
    font-weight: bold;
}
.strong {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.ins {
    text-decoration: underline; 
}
.white_text {
    color: #808080;
} 
.big {
    font-size: larger; 
}
