h1, h2,  h3, h4, h5, h6 {
    text-align: center; 
    font-style: italic; 
}
.upper-roman {
    list-style-type: upper-roman;
} 
.definition {
    font-style: italic; 
    font-weight: bold;
}
.strong {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.ins {
    text-decoration: underline; 
}
.white_text {
    color: #808080;
} 
.big {
    font-size: larger; 
}
.conspect_title {
    text-align: center; 
    font-style: italic;
    font-weight: bold;
    font-size: xx-large;
}
.dash {
    list-style-type: disclosure-closed;
} 
.ultop {
    margin-top: 1px;
}